/* Objects and properties are in Alphabetical Order */
html{
    font-size: 16px;
    font-family: 'Share Tech Mono', monospace;
    /* font-family: 'Open Sans', sans-serif; */
    /* text-align: center; */
    /* Color Variables */
    --davys-grey: #595959;
    --xanadu: #808F85;
    --russian-violet:  #27163f;
    --dark-purple: #31081F;
    --persian-plum: #6b0f1a; 
}

body {
    /* background-color: white; */
    color: white;
    margin: 1rem;
    padding: 0;
    
     
 }

 body::-webkit-scrollbar {
  width: 0.5rem;

 }

 body::-webkit-scrollbar-track {
  background: var(--xanadu);

 }

 body::-webkit-scrollbar-thumb {
   background: var(--davys-grey);


 }

nav {
    align-items: left;
    background-color: white;
    display: flex;
    height: 10vh;
    justify-content: space-around;

}

.nav-links{
    align-items: left;
    display: flex;
    justify-content: space-around;
    /* Removes the UL dots */
    list-style: none;
    width: 35%;
}

.main {
    /* background-color: var(--persian-plum); */
    /* background-color: var(--dark-purple); */
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.playlist{
    margin: 2rem;
    padding: 1rem;
}
.pagination{
    margin: 1rem auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60% auto;
}
.active{
    border: 1px solid black;
    border-radius: 100%;
    padding: 0 3px;
    outline: none;
}